<div class="col-lg-6">

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Category name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Category" name="name" ng-model="category.name" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Type</label>
    <div class="col-sm-10">
      <select name="credit_type" class="form-control" ng-model="category.credit_type"  required>
        <option value="CT">Ct</option>
        <option value="DT">Dt</option>	
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="addCategory(category);">Add</button>
    </div>
  </div>
</form>

</div>

<div class="col-lg-6">
<!-- List of categories -->

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Category name</th>
			<th>Type</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="category in categories | orderBy:'name'">
			<td>{{category.name}}</td>
			<td>{{category.credit_type}} 
             <a ng-click="removeCategory(category);" class="pull-right "> <i class="glyphicon glyphicon-trash"></i> </a>
            </td>
	    </tr>
	
	</tbody>
</table>

</div>