
<button type="button" class="close" ng-click="cancel();">
	<i class="fa fa-times-circle-o" style="margin: 10px; color: blue;"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="itemEdit" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<label for="exampleInputEmail1">Type</label> <select
							ng-model="item.category"
							ng-options="category.name for category in categories "
							class="form-control">
							<option>select category</option>
						</select>
					</div>
					<div class="form-group">
						<label for="name">Name</label> <input type="text"
							class="form-control" id="name" placeholder="Password">
					</div>
					<div class="form-group">
						<label for="desc">Description</label>
						<textarea class="form-control" id="desc" placeholder="Description"></textarea>
					</div>
					<div class="form-group">
						<label for="amount">Amount (&pound;)</label> <input type="number"
							class="form-control" id="amount" placeholder="Password">
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save
							changes</button>
					</div>

				</form>
			</div>

		</div>
	</div>
</div>
<!--  end of modal -->
