<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">EC</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-10 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
					<div class="widget-main">
						<h2 class="header blue lighter bigger col-lg-6" >
							<i class="icon-coffee green"></i>{{date | date:'MMMM yyyy'}}
                        </h2>
				
						<div class="clearfix visible-lg-block"></div>
						<hr>
						
						<div class="col-lg-12">
						<form class="form-inline" role="form">
							<div class="form-group col-sm-4">
								<div class="input-group">
									<select ng-model="item.category" ng-options="category.name for category in categories" class="form-control">
										  <option value="">choose category</option>
   									</select>
								</div>
							</div>
							<div class="form-group col-sm-3">
								<div class="input-group">
								<div class="input-group-addon">
										<i class="glyphicon glyphicon-tag"></i>
									</div>
									<input type="text" ng-model="item.title" class="form-control" placeholder="e.g. lunch @work" />
								</div>
							</div>
							<div class="form-group col-sm-3">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="glyphicon glyphicon-comment"></i>
									</div>
									<input type="text" ng-model="item.desc" class="form-control" placeholder="e.g. sandwich shop"/>
								</div>
							</div>
							<div class="form-group col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">&pound;</div>
                                    <input type="number" ng-model="item.amount" class="form-control" size="2" placeholder="12.99"  min="0" max="99999.99" required />
                                </div>
                            </div>
							<div class="form-group col-sm-12">
								 <div class="input-group">
                               
								<button ng-click="addItem(item)" class="btn btn-primary" class="form-control" >Add</button>
								</div>
							</div>
					</form>
				
					</div>	</div>
					
					
					<div class="clearfix visible-lg-block"></div>
						
					<!-- Table -->
					<h2>Table</h2>
					<table role="table" class="table">
					   <tr>
					       <th>Type</th>
					       <th>Name</th>
					       <th>Desc</th>
					       <th>Amount</th>
					       <th>#</th>
					   </tr>
					   <tr ng-repeat="item in items" ng-if="item.amount" >    
					       <td>{{item.category.name}}</td>
					       <td>{{item.title}}</td>
					       <td>{{item.desc}}</td>
					       <td >&pound; {{item.amount}}</td>
					       <td>
					       <a ng-click="editItem(item);" data-toggle="modal" data-target="#itemEdit"> <i class="glyphicon glyphicon-edit"></i> </a> 
					       <a ng-click="delItem(item);"> <i class="glyphicon glyphicon-trash"></i> </a>
					       </td>
					   </tr>
					</table>
					<!-- End of table -->
						
						
						
				</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-content -->